  <tr>
  	<th><%= link_to 'Id', :controller => "words", :action => "index", :sort => "id" %></th>
  	
    <th>
    	<%= link_to 'W1',
    			:controller => "words",
    			:action => "index",
    			:sort => "w1" %>
    	
    	<%= form_tag('#', :method => :get) do %>
    	
    		<!-- REF http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html#method-i-text_field_tag -->
			<%= text_field_tag\
						"search_w1",
						nil,
						# nil,
						:size => '5',
						:name => Const::ViewWords::SearchTag,
						:style => "text-align: right;" %>
    	
    		<%= hidden_field \
    				:search, :w,
    				:name => Const::ViewWords::SearchTagHidden,
    				# :name => 'search_w',
    				:value => 'w1' %>
    	
			<%= submit_tag "Search" %>
    	
    	<% end %><!-- <%#= form_tag('#', :method => :get) do %> -->
    	
    	<%= form_tag('#', :method => :get) do %>
    	
			<%= submit_tag "Clear" %>
    	
    	<% end %><!-- <%#= form_tag('#', :method => :get) do %> -->
    	
    	
    </th>
    
    <th>
    	<%= link_to 'W2', :controller => "words", :action => "index", :sort => "w2" %>
    	
    	<%= form_tag('#', :method => :get) do %>
    	
			<%= text_field_tag\
						"search_w2",
						nil,
						:size => '5',
						:style => "text-align: right;" %>
    	
    		<%= submit_tag "Search" %>
    	
    	<% end %>

    </th>
    
    <th>
    	
    	<%= link_to 'W3',
    			:controller => "words",
    			:action => "index",
    			:sort => "w3" %>
    	
    	<%= form_tag('#', :method => :get) do %>
    	
			<%= text_field_tag\
						"search_w3",
						nil,
						:size => '5',
						:style => "text-align: right;" %>
    	
    		<%= submit_tag "Search" %>
    	
    	<% end %>
    	
    </th>
    
    <th>Text ids</th>
    <th><%= link_to 'Text', :controller => "words", :action => "index", :sort => "text_id" %></th>
    
    <th>
    	<%= link_to 'Lang', :controller => "words", :action => "index", :sort => "lang" %>
    	<br>
    	    	<form action="/words" method="get">
    	
		    <% if Lang.all.size > 0 %>
		    	<!-- <%#= select(
		    				"keyword",
		    				"category_id",
		    				Category.all.collect {|g| [g.name, g.id]}) %> -->
		    	
		    	<!-- REF include_blank http://railsdoc.com/references/select -->
		    	<!-- REF selected http://stackoverflow.com/questions/623458/rails-select-helper-default-selected-value-how answered Mar 10 '09 at 6:06 -->
		    	<%= select(
		    				"text",
		    				"lang_id",
		    				Lang.all.collect {|lang| [lang.name, lang.id]},
		    				:include_blank => true,
		    				:selected => (
		    						params[:text] && params[:text][:lang_id] != "" ?
		    							params[:text] && params[:text][:lang_id] : false)
		    				) %>
		    <% else %>
		    
		    	<b>No data</b>
		    	
		    <% end %>
		    
		    <input type="submit" value="Filter"
						id="filter_lang"
						name="filter_lang" />
		</form>

    </th>
    <th>Dbid</th>
    <th>Created at(millsec)</th>
    <th></th>
  </tr>
