<h1>Listing word_lists
<!-- <h1><a name="top">Listing word_lists</a> -->

		<% if @word_lists != nil %>
			
			<span style="font-weight: normal; font-size: smaller">
				
				(<%= @word_lists.size %>)
				
			</span>
			
		<% end %>
	
</h1>

(<%= link_to 'New Word list', new_word_list_path %>)

<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<div>

	<% result = (will_paginate @word_lists, :prev_label=>'«Prev', :next_label=>'Next»') %>
	
	<% if result != nil %>
	
		<hr />
		
			<%= will_paginate @word_lists, :prev_label=>'«Prev', :next_label=>'Next»' %>
			
		<hr />
	
	<% end %>
	
</div>


<table border="2">

	<%= render :partial => "word_lists/table/index_table_header" %>

	<%= render :partial => "word_lists/table/index_table_entries" %>
	
</table>

<div>

	<% result = (will_paginate @word_lists, :prev_label=>'«Prev', :next_label=>'Next»') %>
	
	<% if result != nil %>
	
		<hr />
		
			<%= will_paginate @word_lists, :prev_label=>'«Prev', :next_label=>'Next»' %>
			
		<hr />
	
	<% end %>
	
</div>

<a name="bottom"></a>
<%= link_to 'New Word list', new_word_list_path %>
<a href="#top" style="margin: 0px 25px;">(To top)</a>

<br />
