<% @texts.each do |text| %>
  <tr>
    
    <td><%= link_to text.id, text %></td>
    
    <td colspan="5" style="background-color: yellow;">
    	
    	<%= link_to text.title, text %>
    			
    </td>
    
    <td colspan="6"><%= text.word_ids %></td>
    
   </tr>
   
	<tr>
    
		<td colspan="6" rowspan="3" class="text">
			<% if text.text != nil %>
			
				<% max_length = 80 %>
				
				<% if text.text.length > max_length %> 
				
					<%= text.text[0..max_length] %> ...
					
				<% else %>
				
					<%= text.text %>
				
				<% end %>
				
			<% else %>
			
				No text
			
			<% end %>
			
		</td>
		
	    <td colspan="6" class="url">
	    	<%#= text.url %>
	    	<%= link_to text.url, text.url, :target => "_blank" %>
	    </td>

    
	</tr>
	
	<tr>
		<td>
		    <% if not text.lang == nil %>
		    	<%= text.lang.name %>
			<% else %>
				<%= text.lang_id %>(text.lang => nil)
		    <% end %>
		</td>

		<td><%= text.genre_id %></td>
    	<td><%= text.subgenre_id %></td>
    	
	</tr>
	
	<tr>
		<td><%= text.memo %></td>
		
		<td><%= text.dbId %></td>
    	<td><%= text.created_at_mill %></td>
    	
	</tr>
<% end %>
