<p id="notice"><%= notice %></p>

<p>
  <b>[Text]</b>
  <br />
  <!-- REF raw http://stackoverflow.com/questions/4251284/raw-vs-html-safe-vs-h-to-unescape-html asked Nov 22 '10 at 23:27 -->
  <%= raw @text.text %>
  <%#= @text.text %>
</p>

<div id="file_info">
	
	
	<table>

		<tr>
			<td>
				<b>Title</b>
			</td>
			<td>
  				<%= @text.title %>
			</td>
		</tr>
		
		<tr>
			<td>
				<b>ID</b>
			</td>
			<td>
  				<%= @text.id %>
			</td>
		</tr>
		
		<tr>
			<td>
				<% if @text.word_ids != nil %>
				
					<% msg = "Word ids (#{@text.word_ids.size.to_s}" %>
					
				<% else %>
				
					<% msg = "Word ids => nil" %>
				
				<% end %>
				
					<b>Word ids (<%= @text.word_ids.size %>)</b>
			</td>
			<td>
  				<%= @text.word_ids %>
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Url</b>
			</td>
			<td>
  				<%= link_to @text.url, @text.url, :target => "_blank" %>
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Genre</b>
			</td>
			<td>
				<%= @text.genre_id %>
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Subgenre:</b>
			</td>
			<td>
				<%= @text.subgenre_id %>		
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Lang</b>
			</td>
			<td>
				<%= @text.lang_id %>		
			</td>
		</tr>

		<tr>
			<td>
				<b>Memo:</b>
			</td>
			<td>
				<%= @text.memo %>		
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Dbid:</b>
			</td>
			<td>
				<%= @text.dbId %>		
			</td>
		</tr>
		
	</table>
</div>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %> |
<%= link_to 'New Text', new_text_path %> |
<!--
	REF parameter http://yoshifumisato.jeez.jp/wordpress/post/rails/723
-->

<hr />
<%= link_to 'Build word list',
			:controller =>"texts",
			:action =>"build_word_list",
			:text_id => @text.id %> |

<%= link_to 'New Word',
			:controller =>"words",:action =>"new",
			:text_id => @text.id, :lang_id => @text.lang_id
			 %>